		html {
			background-color: #0c002b;

		}
		/******** For mobile device ********/
/******************************/
/*---- Responsive base screen witdh ------- */
/* width - 30 */
/* Tablet Devices Resizing */
@media screen and (min-width: 1025px){
}
@media screen and (max-width: 1024px) and  (min-width: 970px){
}
@media screen and  (max-width: 970px){
}
@media screen and  (max-width: 870px)  and (min-width:750px){
}
@media screen and (max-width:750px) and (min-width:680px){
}
@media screen and (min-width:1080px) and (max-width: 2400px) {
}
@media screen and (max-width: 380px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 1080px) {
/* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 2400px) {
/* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

@media only screen and (min-device-width: 1080px) and (max-device-height: 2400px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
title {
			margin: 0px auto;
			padding: 0px;
			width: 1524px;
			height: 130px;
			background-color: #CCCCFF;
			border-bottom: 10px solid #DF0029;
			background-image: linear-gradient(#94AAD6, #D2A6C7, #ECECEC);
		}
}
@media only screen and (min-device-width: 2400px) and (max-device-height: 1080px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
/*---- end Responsive base screen witdh ------- */

		.flip {
			width: 100%;
			height: auto;
			margin: 0px;
			padding: 0px;
			background-color: #000;
		}
		.slider {
			width: 100%;
			height: 100vh;
			background: #000;
			overflow: hidden;
			margin-top: 0%;
			;
		}
		.slider .carousel {
			width: 100%;
			margin: 100px auto 0;
			overflow: visible;
			
		}
		.carousel img{
			-webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));
		}
		.title {
			margin: 0px auto;
			padding: 0px;
			width: auto;
			height: 130px;
			background-color: #CCCCFF;
			border-bottom: 10px solid #DF0029;
			background-image: linear-gradient(#94AAD6, #D2A6C7, #ECECEC);
		}
		.welcome {
			position: block;
			text-align: initial;
			overflow: auto;;
			font-size: 50px;
			color: #FF3399;
			margin: 10px;
			margin-left: 30%;
			width: 100%;
		}
		.date {
			position: block;
			text-align: initial;
			overflow: auto;
			font-size: 35px;
			color: #DF0029;
			position: initial;
			margin-top: 18px;
			margin-left: 42%;
			width: auto;
		}
		.cover-image {
			margin: 0px;
			padding: 0px;
			width: auto;
			height: 976px;
			border-top: 10px solid #DF0029;
		}
		#cover {
			margin: 0px;
			padding: 0px;
			width: 1524px;
			height: 976px;
		}
		.image-wedding {
			margin: 20px auto;
			padding: 0px;
			width: auto;
			height: 100%;
			margin-top: 35%;
		}
		.text-1 {
			position: absolute;
			margin: 50px;
			padding: 0px;
			width: 640px;
			height: 420px;
			background-color: #CFCFCF;
			border-right: 10px solid #ECECEC;
			border-left: 10px solid #ECECEC;
			border-radius: 20px;
		}
		.text-4 {
			margin: 0px;
			margin-left: 860px;
			padding: 0px;
			width: 620px;
			height: 330px;
		}
		.title-1 {
			text-align: center;
			overflow: hidden;
			font-size: 35px;
			color: #FF3030;
			margin: 10px;
			font-style: oblique;
		}
		.title-2 {
			text-align: center;
			overflow: hidden;
			font-size: 30px;
			color: #FF1493;
			margin-top: -20px;
		}
		.title-3 {
			text-align: center;
			overflow: hidden;
			font-size: 50px;
			color: #FF1493;
			margin-top: -20px;
		}
		.title-4 {
			text-align: center;
			overflow: hidden;
			font-size: 50px;
			color: #FF1493;
			margin-top: -20px;
		}
		.note {
			text-align: center;
			position: initial;
			overflow: hidden;
			font-size: 20px;
			margin: 50px auto;
			font-style: italic;
			margin-left: 20%;
		}
		.note4 {
			text-align: center;
			position: initial;
			overflow: hidden;
			font-size: 25px;
			margin: 50px auto;
			font-style: italic;
			margin-left: 20%;
			color: white;
		}
		.note3 {
			text-align: center;
			position: initial;
			overflow: hidden;
			font-size: 25px;
			margin: 50px auto;
			font-style: italic;
			margin-left: -800px;
			color: red;
		}
		.img1 {
			position: block;
			margin: 20px auto;
			padding: 0px;
			width: 768px;
			height: 511px;
			border: 4px solid red;
			margin-right: 20px;
			margin-top: -475px;
			border-radius: 25px;
		}
		.img2 {
			margin: 0px auto;
			padding: 0px;
			width: auto;
			height: 1420px;
			
		}
		.img2-1 {
			margin: 20px auto;
			margin-top: -330px;
			margin-left: 20px;
			padding: 0px;
			width: 440px;
			height: 660px;
			border: 2px solid #DF0029;
		}
		.img2-2 {
			margin: 20px auto;
			margin-top: -320px;
			margin-left: 500px;
			padding: 0px;
			width: 440px;
			height: 660px;
			border: 2px solid #DF0029;
		}
		.img2-3 {
			margin: 20px auto;
			margin-top: -380px;
			margin-left: 980px;
			padding: 0px;
			width: 440px;
			height: 660px;
			border: 2px solid #DF0029;
		}
		.img3 {
			margin: 0px auto;
			padding: 0px;
			width: auto;
			height: 700px;
			
		}
		.img3-1 {
			margin: 0px auto;
			margin-left: 20px;
			margin-top: 20px;
			padding: 0px;
			width: 440px;
			height: 660px;
			border: 2px solid #DF0029;
		}
		.img3-2 {
			margin: 0px auto;
			margin-left: 480px;
			margin-top: -664;
			padding: 0px;
			width: 440px;
			height: 660px;
			border: 2px solid #DF0029;
		}
		.text-2 {
			margin: 0px auto;
			width: 700px;
			height: 300px;
			
		}
		.title-3 {
			margin: 0px;
			font-size: 25px;
			text-align: center;

		}
		.see-all-album {
	margin: 0px;
	padding: 0px;
	background: #0c002b;
	font-family: sans-serif;
	}
.btn {
	left: 80%;
	top: 450%;
	position: absolute;
	transform: translate(-50%, -50%);
	color: #1670f0;
	padding: 30px 60px;
	font-size: 30px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
a:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	background: rgba(255, 255, 255, 0.05);
}
a span:nth-child(1)
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #0c002b, #1779ff);
	animation: animate1 2s linear infinite;
}
@keyframes animate1
{
	0%
	{
		transform: translateX(-100%);
	}
	100%
	{
		transform: translateX(100%);
	}
}
a span:nth-child(2)
{
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to bottom, #0c002b, #1779ff);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2
{
	0%
	{
		transform: translateY(-100%);
	}
	100%
	{
		transform: translateY(100%);
	}
}
a span:nth-child(3)
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, #0c002b, #1779ff);
	animation: animate3 2s linear infinite;
}
@keyframes animate3
{
	0%
	{
		transform: translateX(100%);
	}
	100%
	{
		transform: translateX(-100%);
	}
}
a span:nth-child(4)
{
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to top, #0c002b, #1779ff);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate4
{
	0%
	{
		transform: translateY(100%);
	}
	100%
	{
		transform: translateY(-100%);
	}
}
